:root {
    --nav-background-accent-2: rgb(71 85 105);
    --nav-background-accent: rgb(51 65 85);
    --nav-background: rgb(30 41 59);

    --text-input-background: rgb(30 41 59);
    --text-input-font: "Consolas", "Monaco";
    --text-input-color: white;

    --text-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --text-main: rgb(255 255 255);
    --text-muted: rgb(148 163 184);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

#menu-bar {
    background-color: var(--nav-background-accent);
    font-weight: normal;
    color: rgb(203 213 225);;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
}

#menu-bar #name {
    font-weight: bold;
}

#menu-bar li {
    user-select: none;
    text-decoration: none;
    display: inline-block;
    font-family: var(--text-font);
    padding: 5px 10px 5px 10px;
    height: 100%;
    position: relative;
    cursor: pointer;
}

#menu-bar .menu-button:hover {
    background-color: var(--nav-background);
}

#menu-bar .menu-button:hover .dropdown {
    opacity: 1;
    visibility: visible;
}

.dropdown {
    position: absolute;
    margin-top: 5px;
    background-color: var(--nav-background);
    gap: 0.5rem;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 200px;
}

.dropdown li {
    list-style: none;
    transition: background-color 200ms ease-in-out;
    justify-content: space-between;
    width: 100%;
    display: flex;
}

.dropdown li .icon {
    display: inline-block;
    vertical-align: middle;
    height: 1em;
    width: 1em;
}

.dropdown li p {
    display:inline-block;
    vertical-align:middle;
    color: var(--text-main);
}

.dropdown li .button-tooltip {
    float: right;
    color: var(--text-muted);
}

.dropdown li:hover {
    background-color: var(--nav-background-accent);
}

canvas {
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
}

header {
    user-select: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}

#text-input {
    top: 0;
    width: 100%;
    min-height: 20px;
    height: auto;
    padding: 5px 8px;

    font-family: var(--text-input-font);
    color: var(--text-input-color);

    background-color: var(--nav-background);
    border: 0;
    border-bottom: 1px solid rgb(15 23 42);;
    outline: none;
    z-index: 1000 !important;
}

#toast-container {
    position: absolute;
    bottom: 20px;
    left: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 7px;
    overflow: hidden;
    height: 2em;
    display: flex;
    vertical-align: middle;
    opacity: 1;
    transition: all 750ms ease-in-out;
}

#toast-container[hidden] {
    transform: translateX(-400px);
    opacity: 0;
}

#toast-sidecolor {
    width: 10px;
    height: 100%;
    background-color: rgb(95, 204, 64);
    display:inline-block;
    vertical-align:middle;
    margin-right: 5px;
}

#toast-message {
    font-family: var(--text-font);
    padding: 5px;
    display:inline-block;
    vertical-align: middle;
    font-weight: bold;
}

#close-toast {
    border: none;
    background-color: transparent;
    margin: 10px;
    color: var(--text-muted);
}

#toast-icon {
    color: rgb(95, 204, 64);
    padding: 5px;
}

#no-open-file {
    background-color: var(--nav-background-accent-2);
    width: 100%;
    height: 100vh;
    vertical-align: middle;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
}

#no-open-file p {
    font-family: var(--text-font);
    font-weight: bold;
    font-size: xx-large;
    color: var(--text-main);
    text-align: center;
}

.titletext {
    font-family: var(--text-font);
    font-weight: bold;
    font-size: xx-large;
    color: var(--text-main);
    text-align: center;
}

#no-open-file .subtext {
    font-size: x-large;
    color: var(--text-muted);
    font-weight: normal;
}